body {margin: 2em auto; padding: 2em; max-width: 800px; background: #f2f2f2; color: #444444; font-size: 1.4em; font-family: monospace; line-height: 1.5}
a {color: #ff6347; text-decoration: none}
a:hover {background-color: #ff634720}
blockquote p {text-align: right}
small {text-align: center}
img {display: block; max-width: 600px; margin: auto}